<!-- NG-ZORRO -->
<!--<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->
<div id="site-wrapper">
  <nz-layout>
    <nz-header>
        <nz-page-header nzBackIcon [nzGhost]="false">
          <nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"> </nz-avatar>
          <!--<nz-page-header-title>Romskin</nz-page-header-title>-->
          <nz-page-header-extra>
            <ul nz-menu nzMode="horizontal">
              <li nz-menu-item>About us</li>
              <li nz-menu-item>Our Work Process</li>
              <li nz-menu-item>Projects</li>
              <li nz-menu-item>Contact us</li>
            </ul>
          </nz-page-header-extra>
        </nz-page-header>
    </nz-header>
    <nz-content>
      <p>This is content</p>
      <p>Content thats going to change your life.</p>
    </nz-content>
    <nz-footer>Ant Design ©2021 By Ezeecode technologies</nz-footer>
  </nz-layout>
</div>  <!-- end of site wrapper-->