<div id="site-wrapper">
  <nz-layout>
    <nz-header>
      <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"> </nz-avatar>
        <nz-page-header-title>{{title}}</nz-page-header-title>
        <nz-page-header-extra>
          <ul nz-menu nzMode="horizontal">
            <li nz-menu-item>
              <a routerLink="">landing page</a>
            </li>
            <li nz-menu-item>
              <a href="#">about us</a>
            </li>
            <li nz-menu-item>
              <a href="#">services</a>
            </li>
            <li nz-menu-item>
              <a href="#">projects</a>
            </li>
            <li nz-menu-item>
              <a href="#">team</a>
            </li>
            <li nz-menu-item>
              <a href="#">contact us</a>
            </li>
          </ul>
        </nz-page-header-extra>
      </nz-page-header>
    </nz-header>
    <nz-content>
      <div id="construction-ribbon"></div>
      <p>This is content</p>
      <p>Content thats going to change your life.</p>
    </nz-content>
    <nz-footer>Ant Design ©2021 By Ezeecode technologies</nz-footer>
  </nz-layout>
</div>  <!-- end of site wrapper-->